.aboutUs {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background: #f9f8f8;
  align-items: center;
}

.aboutUs__imageContainer {
}

.aboutUs__image {
}

.aboutUs__content {
}

.aboutUs__textBlock {
  max-width: 702px;
  margin-bottom: 2.875rem;
}

.aboutUs__subtitle {
  margin-bottom: 0.5rem;
}

.aboutUs__title {
  margin-bottom: 0.875rem;
}

.aboutUs__desc {
}

.aboutUs__featuresList {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  margin-bottom: 2.875rem;
}
