.newsletterSection {
  padding-bottom: 8.75rem; 
}

.newsletterSection__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5625rem 4.4375rem; 
  background-image: url("/newsletterBg.png"); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  border-radius: 1.5rem; 
}

.newsletterSection__title {
  max-width: 22.3125rem; 
}

.newsletterSection__form {
  display: flex;
  gap: 0.5rem; 
}

.newsletterSection__input {
  padding: 1.75rem 1.5rem; 
  background-color: white; 
  border-radius: 1rem; 
}

.newsletterSection__button {
  padding: 1.75rem 4rem; 
  background-color: #274c5b; 
  border-radius: 1rem; 
  font-family: "Roboto", sans-serif; 
  font-size: 1.25rem; 
  font-weight: 700; 
  color: white; 
  text-align: center;
}